In [35]:
n=int(input())
p=1
for i in range(2,n):
    if(n%i==0):
        p=0
        break
if(p==0) :
    print("no is not prime")
else :
    print("no is prime")

9
no is not prime

In [5]:
no=int(input())
if(no>0) :
    print('no is positive')
elif(no<0) :
    print("no is negative")
else :
    print("no is zero")

0
no is zero

In [7]:
flag=1
for i in range(2,101) :
    for j in range(2,i):
        if(i%j==0):
            flag=0
            break
    if(flag==1):
        print(i)

    flag=1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [8]:
#odd or even
n=int(input())
if(n%2==0):
    print("no is even")
else :
    print("no is odd")

7
no is odd

In [13]:
year=int(input())
if(year%4 == 0):
    
        if(year%100==0):
        
            #year is divisible by 400, hence the year is a leap year
            if ( year%400 == 0):
                print(year,"is a leap year")
            else:
                print(year,"not  leap year.")
        
        else :
            print(year,"it is a leap year")
    
else :
    print(year,"not a leap year")

2020
2020 it is a leap year

In [15]:
l=[1,2,3,4]
l.append(5)
print(l)

[1, 2, 3, 4, 5]

In [16]:
del l[3]
print(l)

[1, 2, 3, 5]

In [17]:
l.insert(3,4)
print(l)

[1, 2, 3, 4, 5]

In [18]:
l[0]=0
print(l)

[0, 2, 3, 4, 5]

In [19]:
l.pop()
l

[0, 2, 3, 4]

In [20]:
l.pop(2)
l

[0, 2, 4]

In [21]:
l.remove(0)
l

[2, 4]

In [26]:
l2=[1,3,45]
l.extend(l2)
l

[2, 4, 1, 3, 45, 1, 3, 45]

In [23]:
l+l2
l

[2, 4, 1, 3, 45]

In [34]:
l3=[78,6,69]
l3=l3+l
l3
print(l3.count(1))
l3.sort()
print(l3)

2
[1, 1, 2, 3, 3, 4, 6, 45, 45, 69, 78]

In [29]:
d={}
print(type(d))

<class 'dict'>

In [33]:
d['Gautham']=99
d['Shivam']='lol'
print(d['Shivam'])

lol

In [36]:
0 for i in range (0,10):
    print(i)

SyntaxError: invalid syntax (<ipython-input-36-c44e4d5b5ae7>, line 1)

In [40]:
a=[52,32,44,99,11]
n=5
for i in range(0,n-1):
    p=i
    for j in range(i+1,n):
        if(a[j]<a[p]):
            p=j
    c=a[i]
    a[i]=a[p]
    a[p]=c
print(a)

[11, 32, 44, 52, 99]

In [7]:
a=[76,45,32,11,22]

for i in range(0,len(a)):
    for j in range(0,len(a)-i-1):
        
        
        if(a[j]>a[j+1]):
            temp=a[j]
            a[j]=a[j+1]
            a[j+1]=temp

print(a)

[11, 22, 32, 45, 76]

In [8]:
numbers=[1,4,5,6,7,8,5]
print(numbers[::2])

[1, 5, 7, 5]

In [10]:
print(numbers[::-3])

[5, 6, 1]

In [11]:
print(max(numbers))

8

In [14]:
a=1
b=9
a,b=b,a
print(a)
print(b)

9
1

In [15]:
d2={"Hari":1,"Klepto":2,"Ankit":{"lik":7,"k":8}}
print(d2["Ankit"]["k"])

8

In [16]:
d3=d2.copy()
print(d3)

{'Hari': 1, 'Klepto': 2, 'Ankit': {'lik': 7, 'k': 8}}